.confirm-window {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px lightgray;
}

.confirm-forms {
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: white;
}

.confirm-block {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.confirm-img {
    height: 100%;
    width: 40%;
}

.form-button-submit {
    font-weight: 800;
    font-size: 15px;
    color: white;
    background-color: #3202b2;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
}

.form-button-submit:hover {
    background-color: #3804c2;
}

.font-color-link {
    margin-left: 5px;
    color: #3202b2;
    text-decoration: underline;
}

.confirm-title {
    margin-top: 0;
}

.confirm-title:after {
    display: flex;
    position: relative;
    content: "";
    height: 6px;
    bottom: -10px;
    width: 278px;
    background: #3202b2;
    border-radius: 50px;
    z-index: 1010;
}
