.block-2 {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}

.block-2-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block2-introduce-info {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block2-interactive-img {
    width: 300px;
}

.choosed-text {
    color: #60a5fa;
}