/* ---- reset ---- */
body{
    margin:0;
    padding: 0;
}
canvas{
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}