@media (min-width: 1200px) {

}

@media (max-width: 1200px) and (min-width: 992px) {

}

@media (max-width: 992px) and (min-width: 100px) {
    .App {
        display: flex;
        flex-direction: column;
    }

    .block-1-info {
        display: flex;
        flex-direction: column;
    }
}