.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(4px);
    z-index: 1000;
}

.footer-content {
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-footer {
    width: 400px;
}

.socials-footer {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons-footer-ok {
    height: 100%;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons-footer-vm {
    height: 100%;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copyright-footer {
    color: white;
    font-size: 10px;
}

.link-style {
    color: white;
}